a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video{
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
    display: block
}
a, a:active, a:hover, a:link, a:visited{
    color: #5c5c5c;
    cursor: pointer;
    text-decoration: none;
}
a:hover{
    opacity: .8;
}
p{
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
dl,ol,ul{
    list-style: none;
}

html{
    font-size: 10px !important;
}
body{
    margin: 0;
    background-color: #fbfbfb;
    font-family: Helvetica,Arial,Roboto,PingFang SC,Microsoft Yahei,Hiragino Sans GB,sans-serif;
    font-size: 12px;
    line-height: 1.5;
}
#db-global-nav{
    height: 28px;
    color: #d5d5d5;
    background-color: #545652;
    min-width: 950px;
    font: 12px Helvetica,Arial,sans-serif;
    line-height: 1.62;
}
#db-global-nav .global-nav-items{
    font-size: 0;
}
#db-global-nav ul{
    margin: 0;
    padding: 0;
}
#db-global-nav .global-nav-items li{
    display: inline-block;
    font-size: 12px;
    zoom: 1;
    line-height: 28px;
    vertical-align: baseline;
}
/* 100+1=101 */
#db-global-nav a{
    cursor: pointer;
    text-decoration: none;   
}
/* 100+10+1=111 */
#db-global-nav .global-nav-items a{
    display: inline-block;
    zoom: 1;
    padding: 0 12px;
    height: 28px;
}
#db-global-nav a:link, #db-global-nav a:visited, #db-global-nav a:hover, #db-global-nav a:active {
    color: #d5d5d5;
}
#db-global-nav .top-nav-info{
    float: right;
    margin: 0 12px 0 0;
    line-height: 28px;
}
#db-global-nav .top-nav-info a{
    display: inline-block;
    zoom: 1;
    margin: 0;
    padding: 0 12px;
}
#db-global-nav .top-nav-doubanapp{
    position: relative;
    float: right;
    margin-right: 5px;
    line-height: 28px;
}
#db-global-nav .top-nav-doubanapp .lnk-doubanapp{
    display: inline-block;
    zoom: 1;
    padding: 0 8px;
    height: 28px;
}
#market-header{
    position: relative;
    z-index: 2;
    box-shadow: 0 1px 4px #e4e4e4;
    height: 52px;
}
#market-header .header-inner{
    zoom: 1;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}
#market-header .header-inner:after, #market-header .header-inner:before{
    display: table;
    content: '';
}
#market-header .logo{
    float: left;
}
#market-header .market-logo{
    width: 87px;
    height: 20px;
    margin-top: 16px;
}
#market-header .market-logo, #market-header .shop-logo{
    display: block;
    text-indent: -999em;
    background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: cover;
    background: url('https://img3.doubanio.com/f/market/359c56a2fbc5f3d89c461eea4f9aa94c5bbbe6ed/pics/logos/logo.png')
}
#market-header .market-user{
    margin-left: 20px;
    float: right;
}
#market-header .market-user .user-people{
    display: inline-block;
    padding: 15px 0;
    cursor: pointer;
}
#market-header .market-user .user-people .user-pic{
    color: #9b9b9b;
    font-size: 12px;
}
#market-header .market-user .user-people .user-pic img{
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}
#market-header .market-user .user-people .nav-list{
    position: absolute;
    top: 52px;
    z-index: 2;
    background-color: #fff;
    text-align: center;
    padding: 8px 10px 12px;
    box-shadow: 0 1px 4px #e4e4e4;
    border-top: 1px solid #e4e4e4;
}
#market-header .market-user .user-people .nav-list:after{
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: -5px;
    left: 50px;
    z-index: 3;
    background-color: #fff;
    width: 8px;
    height: 8px;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid transparent;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid transparent;
}
/* #market-header .market-user .user-people .nav-list:before{
    content: "";
    display: block;
    height: 4px;
    background-color: #fff;
    position: absolute;
    top: -4px;
    left: 0;
    z-index: 3;
} */
#market-header .market-user .user-people .nav-list .nav-item{
    line-height: 1.2;
    list-style: none;
    padding: 8px 0;
    white-space: nowrap;
}
#market-header .market-user .user-people .nav-list .nav-item a{
    font-size: 13px;
    color: #9b9b9b;
    cursor: pointer;
}
.banner-wrapper, .group, .product-card-list{
    margin-bottom: 60px;
}
.banner-wrapper{
    /* width: 100%; */
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    background: red
}
.slide-box{
    width: 100%;
    zoom: 1;
}
.slide-box .slide{
    overflow: hidden;
}
.slide-box:after, .slide-box:before{
    display: table;
    content: "";
}
.slide-box .slide .slide-inner .slide-item{
    float: left;
    position: relative;
    z-index: 1;
    min-width: 950px;
    max-width: 100%;
    text-align: ceneter;
}
.slide-box .slide .slide-inner .slide-item img{
    display: block;
    width: 100%;
    margin: 0 auto;
    min-height: 30px;
}
.slide-box .slide .slide-button-next, .slide-box .slide .slide-button-prev{
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 41px;
    height: 69px;
    margin-top: -35px;
    text-indent: -9999em;
    overflow: hidden;
    outline: 0;
}
.slide-box .slide .slide-button-next{
    right: 0;
    background: url('https://img3.doubanio.com/f/market/b8f709ab3c33c32e8e07c9ec61578dbf194fdd60/pics/homepage/icon-slides.png') no-repeat -125px 50%;
   
}
.slide-box .slide .slide-button-prev{
    left: 0;
    background: url('https://img3.doubanio.com/f/market/b8f709ab3c33c32e8e07c9ec61578dbf194fdd60/pics/homepage/icon-slides.png') no-repeat -84px 50%;
}
.homepage-wrapper{
    width: 1024px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.banner-wrapper, .group, .product-card-list{
    margin-bottom: 60px;
}
.product-card-list .product-card{
    display: block;
    clear: both;
    overflow: hidden;
    background: #fff;
    margin-bottom: 30px;
    transition: all .1s linear;
}
.product-card-list .product-card .product-photo{
    float: right;
}
.product-card-list .product-card .product-photo img{
    display: block;
}
.product-card-list .product-card .product-info{
    padding-left: 30px;
    padding-right: 40px;
}
.product-card-list .product-card .product-info{
   
    overflow: hidden;
    padding-top: 70px;
    position: relative;
    z-index: 1
}

.product-card-list .product-card .product-title{
    font-size: 29px;
    color: #4a4a4a;
    margin-bottom: 12px;
    line-height: 1em;
}
.product-card-list .product-card .product-desc{
    font-size: 16px;
    color: #9b9b9b;
    height: 60px;
}
.product-card-list .product-card .product-prices{
    font-family: Arial,Helvetica,system;
    margin-bottom: 20px;
    margin-top: 54px;
}
.product-card-list .product-card .product-prices .sale-price{
    font-size: 29px;
    color: #f05f50;
    font-family: Arial;
}
.product-card-list .product-card .product-prices .product-tag{
    border: 1px solid #f05f50;
    line-height: 20px;
    font-size: 13px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 4px;
    position: relative;
    top: -4px;
    margin-right: -4px;
    transform: scale(.8);
    display: inline-block;
}
.product-card-list .product-card .product-buttons .mui-button{
    width: 140px;
    border-radius: 5px;
    font-size: 16px;
}
.mui-button.l, .mui-modal .mui-modal-footer .mui-modal-cancel, .mui-modal .mui-modal-footer .mui-modal-confirm, a.mui-button.l, button.mui-button.l{
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 14px;
}  
.mui-button.red, a.mui-button.red, button.mui-button.red{
    background-color: #f05f50;
    color: #fff;
}
.mui-button, .mui-modal .mui-modal-footer .mui-modal-cancel, .mui-modal .mui-modal-footer .mui-modal-confirm, a.mui-button, button.mui-button{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    line-height: 1em;
    margin: 0;
    border: none;
    outline: none;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}
.banner-wrapper, .group, .product-card-list{
    margin-bottom: 60px;
}
.group .group-hd, .topics .topics-hd{
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
    line-height: 34px;
}
.group .group-hd .more, .topics .topics-hd .more{
    float: right;
    color: #9b9b9b;
    font-size: 15px;
}
.group .group-hd h4, .topics .topics-hd h4{
    float: left;
    font-size: 24px;
    color: #46a68f;
}
.group .group-topics li{
    line-height: 30px;
    padding: 10px 10px 10px 60px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid hsla(0, 0%, 89%, .6);
    clear: both;
    overflow: hidden;
}
.group .group-topics li .topic-update-time{
    float: right;
    font-size: 16px;
    color: #9b9b9b;
}
.group .group-topics li .topic-update-time{
    float: right;
    font-size: 16px;
    color: #9b9b9b;
}
.group .group-topics li .topic-comment-amount{
    display: block;
    height: 20px;
    line-height: 20px;
    min-width: 20px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    background-color: #e4e4e4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    left: 10px;
    top: 13px;
}
.group .group-topics li .topic-comment-amount:after{
    content: "";
    position: absolute;
    z-index: 1;
    border: 5px solid transparent;
    border-left: 5px solid #e4e4e4;
    bottom: -5px;
    left: 5px;
}
.group .group-topics li .topic-comment-amount em{
    display: inline-block;
    position: relative;
    z-index: 2;
    background-color: #e4e4e4;
}
.group .group-topics li .topic-title{
    font-size: 16px;
    color: #4a4a4a;
    float: left;
}
.topics .topics-list{
    clear: both;
    overflow: hidden;
    margin-right: -35px;
}
.topics .topics-list li{
    margin-bottom: 35px;
    border: 1px solid #e4e4e4;
    float: left;
    width: 313px;
    margin-right: 30px;
}
.topics .topics-list li .topic-item{
    display: block;
}
.topics .topics-list li .topic-photo{
    display: block;
    height: 280px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}
.topics .topics-list li .topic-info{
    background-color: #fff;
    border-top: 0;
    height: 125px;
    box-sizing: border-box;
    padding: 5px;
}
.topics .topics-list li .topic-title{
    font-size: 20px;
    color: #4a4a4a;
}
.topics .topics-list li .topic-desc{
    font-size: 15px;
    color: #9b9b9b;
}
.info-footer{
    padding: 30px 0;
    background-color: #fff;
    text-align: center;
}
.info-footer .item, .info-footer .item i, .info-footer .item span{
    display: inline-block;
    vertical-align: middle;
}
.info-footer .item{
    font-size: 15px;
    margin-left: 50px;
    margin-right: 50px;
    color: #9b9b9b;
}
.info-footer .item i{
    font-size: 18px;
    margin-right: 8px;
    margin-top:-1px;
}

.mui-icon{
    font-family: market-ui-iconfont!important;
    font-style: normal;
    text-align: center
}

.info-footer .item, .info-footer .item i, .info-footer .item span{
    display: inline-block;
    vertical-align: middle;
}
#footer{
    margin: 0;
    width: 100%;
    background-color: #f7f7f7;
    border-top: 1px solid#e4e4e4;
    padding-top: 30px;
    padding-bottom: 25px;
}

#footer .footer-wrapper{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
    clear: both;
    overflow: hidden;
    color: #bdbdbd;
    text-align: center;
}
#footer .info, #footer .logo{
    display: inline-block;
    vertical-align: top;
}
#footer .logo{
    font-size: 32px;;
    line-height: 1em;
    color: #9b9b9b;
    margin-right: 10px;
   
}
#footer .info, #footer .logo{
    display: inline-block;
    vertical-align: top;
}
#footer .info{
    text-align: left;
}